@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
	/* Primary */
	--pale_blue: hsl(225, 100%, 94%);
	--bright_blue: hsl(245, 75%, 52%);

	/* Neutral */
	--very_pale_blue: hsl(225, 100%, 98%);
	--desaturated_blue: hsl(224, 23%, 55%);
	--dark_blue: hsl(223, 47%, 23%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--pale_blue);
	background-image: url('/images/pattern-background-desktop.svg');
	background-size: contain;
	background-position: top center;
	background-repeat: no-repeat;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.main_container {
	background-color: white;

	height: 675px;
	width: 490px;
	border-radius: 20px;

	display: flex;
	flex-direction: column;
}

/**********************************************/
/*                 HEADER                     */
/**********************************************/
.header_image {
	background-color: white;

	height: 35%;
	width: 100%;

	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.header_image img {
	width: 100%;
	object-fit: contain;

	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

/**********************************************/
/*              ORDER SUMMARY                 */
/**********************************************/
.order_summary {
	background-color: white;
	color: var(--dark_blue);
	font-family: 'Red Hat Display', sans-serif;
	text-align: center;

	height: 23%;
	width: 100%;

	padding: 0 75px 0 75px;
	margin-bottom: 20px;
}

.order_summary h2 {
	font-size: 28px;
	margin-top: 30px;
	font-weight: 700;
}

.order_summary p {
	font-size: 16px;
	color: var(--desaturated_blue);
	font-weight: 500;
	line-height: 1.5;
	margin-top: 20px;
}

/**********************************************/
/*               PRICE PLAN                   */
/**********************************************/
.price_plan {
	background-color: white;
	display: flex;
	align-items: center;

	padding: 0 90px 0 90px;
	height: 15%;
	width: 100%;
}

.price_plan img {
	width: 50px;
	height: 50px;
}

.plan_details {
	display: flex;
	flex-direction: column;
}

.plan_type {
	font-family: 'Red Hat Display', sans-serif;
	font-weight: 900;
	font-size: 16px;

	padding-left: 20px;
}

.price_per {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 16px;
	color: var(--desaturated_blue);

	padding-left: 20px;
}

.change_plan {
	font-family: 'Red Hat Display', sans-serif;
	font-weight: 700;
	font-size: 16px;

	padding-left: 90px;
}

/**********************************************/
/*                 PAYMENT                    */
/**********************************************/
.payment {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	height: 27%;
	width: 100%;

	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

.button_pay {
	width: 75%;
	height: 50px;
	border-radius: 10px;
	border: none;

	background-color: var(--bright_blue);
	box-shadow: 0 3px 5px white, 0px 15px 15px rgba(0, 0, 0, 0.2);
}

.proceed {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: white;
	text-decoration: none;
}

.button_pay:hover {
	background-color: var(--desaturated_blue);
	cursor: pointer;
}

.cancel_pay {
	width: 75%;
	height: 50px;
	border-radius: 10px;
	border: none;
	padding-top: 20px;

	background-color: transparent;
}

.cancel {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: var(--dark_blue);
	text-decoration: none;
}

@media (max-width: 525px) {
	body {
		background-image: url('/images/pattern-background-mobile.svg');
	}

	.main_container {
		height: 550px;
		width: 320px;
	}

	.order_summary {
		/* background-color: red; */
		padding: 0 25px 0 25px;
		margin-bottom: 30px;
	}

	.order_summary h2 {
		/* background-color: blue; */
		font-size: 25px;
		margin-top: 20px;
	}

	.order_summary p {
		line-height: 1.5;
		margin-top: 15px;
	}

	.header_image {
		height: 155px;
	}

	.price_plan {
		display: flex;
		align-items: center;

		padding: 0 35px 0 35px;
		height: 15%;
		width: 100%;
	}

	.plan_type {
		font-size: 13px;
		padding-left: 20px;
	}

	.price_per {
		font-size: 13px;
		padding-left: 20px;
	}

	.change_plan {
		font-size: 13px;
		padding-left: 45px;
	}

	.cancel_pay {
		width: 75%;
	}

	.cancel {
		font-family: 'Red Hat Display', sans-serif;
		font-size: 16px;
		font-weight: 700;
		color: var(--dark_blue);
		text-decoration: none;
	}

	.button_pay {
		width: 85%;
		height: 50px;
		border-radius: 10px;
		border: none;

		background-color: var(--bright_blue);
		box-shadow: 0 3px 5px white, 0px 15px 15px rgba(0, 0, 0, 0.2);
	}

	.proceed {
		font-family: 'Red Hat Display', sans-serif;
		font-size: 16px;
		font-weight: 700;
		color: white;
		text-decoration: none;
	}
}
